<footer class="footer">
  <div class="footer-inner">
    <ul class="footer-links">
      <li><small>&copy; 2015 RightScale, Inc.</small></li>
      <li><a href="http://www.rightscale.com/" target="_blank"><small>RightScale Home</small></a></li>
      <li><a href="http://www.rightscale.com/jobs" target="_blank"><small>We're Hiring</small></a></li>
      <li><a href="http://eng.rightscale.com/" target="_blank"><small>Engineering Blog</small></a></li>
      <li><a href="http://feedback.rightscale.com/" target="_blank"><small>Feedback</small></a></li>
      <li><a href="http://chat.rightscale.com/" target="_blank"><small>Chat with us!</small></a></li>
    </ul>
  </div>
</footer>
