<section class="hero-unit">
  <h1 class="help-center-name">What can we help you with today?</h1>
</section>
<section class="clearfix home">
  <div class="column">
    <div class="block-docs">
      <a class="btn" href="http://docs.rightscale.com/" target="_blank" role="button">
        <span class="btn-title"><img src="https://p5.zdassets.com/hc/theme_assets/843804/200186698/icon_documentation.svg" alt=""> Documentation</span>
        <span class="btn-description">Read out support articles, our FAQs and see if we’ve had to solve this before.</span></a>
    </div>
    <div class="block-release">
      <a class="btn" href="http://docs.rightscale.com/release-notes/" target="_blank" role="button">
        <span class="btn-title"><img src="https://p5.zdassets.com/hc/theme_assets/843804/200186698/icon_notes.svg" alt=""> Release Notes</span>
        <span class="btn-description">See the notes for the latest releases of each application and what’s changed.</span>
      </a>
    </div>
    <div class="block-resources">
      <h2>Have you checked our other resources?</h2>
      <ul>
        <li><a href="http://www.rightscale.com/products-and-services/services/cloud-training" target="_blank">Get in touch with us for training</a></li>
        <li><a href="http://docs.rightscale.com/status/" target="_blank">Check system status</a></li>
      </ul>
    </div>
  </div>
  <div class="column">
    <div class="block-request">
      {{#link 'new_request' class='btn' role='button'}}
        <span>Submit New Incident</span>
      {{/link}}
    </div>
    <div class="block-activity">
      {{#link 'requests' class='btn' role='button'}}
        <span>Check Existing Support Incident</span>
      {{/link}}
    </div>
    <div class="block-support">
      <div class="card">
        <div class="card-header">
          <h3>Contact Support</h3>
        </div>
        <div class="card-block">
          <ul>
            <li><a href="tel:+18056160739"><img src="https://p5.zdassets.com/hc/theme_assets/843804/200186698/icon-phone-blue.svg"> <span>Global:</span> +1.866.617.0739</a></li>
            <li><a href="tel:+18667872253"><img src="https://p5.zdassets.com/hc/theme_assets/843804/200186698/icon-phone-blue.svg"> <span>US:</span> +1.866.787.2253</a></li>
            <li><a href="tel:+612.8607.8766"><img src="https://p5.zdassets.com/hc/theme_assets/843804/200186698/icon-phone-blue.svg"> <span>Australia: </span> +612.8607.8766</a></li>
            <li><a href="http://chat.rightscale.com/" target="_blank"><img src="https://p5.zdassets.com/hc/theme_assets/843804/200186698/icon-slack.svg"> Chat with us</a></li>
            <li><a href="mailto:support@rightscale.com"><img src="https://p5.zdassets.com/hc/theme_assets/843804/200186698/icon-email-blue.svg"> support@rightscale.com</a></li>
          </ul>
          <h4>For billing queries</h4>
          <ul>
            <li><a href="mailto:billing@rightscale.com"><img src="https://p5.zdassets.com/hc/theme_assets/843804/200186698/icon-email-blue.svg"> billing@rightscale.com</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="clearfix hide">
  <div class="knowledge-base">
    {{category_tree_with_article}}
  </div>
  <div class="community">
    {{#if help_center.community_enabled}}
      <h4>
        {{t 'community'}}
        {{#link 'community'}}
          {{t 'browse'}}
        {{/link}}
      </h4>
    {{/if}}
    {{recent_activity scope='community'}}
  </div>
</section>
